img {
  height: 100px;
  width: 100px;
}

#player1 {
  height: 100px;
  width: 100px;
  background-color: aliceblue;
  border: 1px solid black;
  position: absolute;
}

#player2 {
  margin-top: 150px;
  height: 100px;
  width: 100px;
  background-color: pink;
  border: 1px solid black;
  position: absolute;
}
